In [33]:
import pandas as pd
import numpy as np 
import plotly.express as px
import plotly.io as pio
from sklearn.model_selection import train_test_split

pio.renderers.default = 'iframe'

data=pd.read_csv('deliverytime.txt')
data.isnull().sum()

ID                             0
Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Type_of_order                  0
Type_of_vehicle                0
Time_taken(min)                0
dtype: int64

In [34]:
#earth radius in kilometrs
R=6371

def deg_to_rad(deg):
    return deg*(np.pi/180)

def distcalculate(lat1,lon1,lat2,lon2):
    d_lat=deg_to_rad(lat2-lat1)
    d_lon=deg_to_rad(lon2-lon1)
    a = np.sin(d_lat/2)**2 + np.cos(deg_to_rad(lat1)) * np.cos(deg_to_rad(lat2)) * np.sin(d_lon/2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    return R * c

data['distance']=np.nan

for i in range(len(data)):
    data.loc[i,'distance']=distcalculate(data.loc[i,'Restaurant_latitude'],data.loc[i,'Restaurant_longitude'],data.loc[i,'Delivery_location_latitude'],data.loc[i,'Delivery_location_longitude'])

data

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Type_of_order,Type_of_vehicle,Time_taken(min),distance
0,4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,Snack,motorcycle,24,3.025149
1,B379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,Snack,scooter,33,20.183530
2,5D6D,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,Drinks,motorcycle,26,1.552758
3,7A6A,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,Buffet,motorcycle,21,7.790401
4,70A2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,Snack,scooter,30,6.210138
...,...,...,...,...,...,...,...,...,...,...,...,...
45588,7C09,JAPRES04DEL01,30,4.8,26.902328,75.794257,26.912328,75.804257,Meal,motorcycle,32,1.489846
45589,D641,AGRRES16DEL01,21,4.6,0.000000,0.000000,0.070000,0.070000,Buffet,motorcycle,36,11.007735
45590,4F8D,CHENRES08DEL03,30,4.9,13.022394,80.242439,13.052394,80.272439,Drinks,scooter,16,4.657195
45591,5EEE,COIMBRES11DEL01,20,4.7,11.001753,76.986241,11.041753,77.026241,Snack,motorcycle,26,6.232393
45592,5FB2,RANCHIRES09DEL02,23,4.9,23.351058,85.325731,23.431058,85.405731,Snack,scooter,36,12.074396

In [35]:
figure=px.scatter(data_frame=data,
                 x='distance',
                 y='Time_taken(min)',
                 size='Time_taken(min)',
                 trendline='ols',
                 title='Relationship Between Time Taken And Distance')
figure.show()

In [36]:
figure=px.scatter(data_frame=data,
                 x='Delivery_person_Age',
                 y='Time_taken(min)',
                 size='Time_taken(min)',
                 color='distance',
                 trendline='ols',
                 title='Relationship Between Person Age and Time taken')
figure.show()

In [37]:
figure=px.scatter(data_frame=data,
                 x='Delivery_person_Ratings',
                 y='Time_taken(min)',
                 size='Time_taken(min)',
                 color='distance',
                 trendline='ols',
                 title='Relationship Between Ratings and Time Taken')
figure.show()

In [38]:
fig=px.box(data,
          x='Type_of_vehicle',
          y='Time_taken(min)',
          color='Type_of_order')
fig.show()

In [39]:
x=np.array(data[['Delivery_person_Ratings','Delivery_person_Age','distance']])
y=np.array(data[['Time_taken(min)']])
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.1,random_state=42)